In [ ]:
A toy vendor supplies three types of toys: Battery Based Toys, Key-based
Toys, and Electrical Charging Based Toys. The vendor gives a discount of
10% on orders for battery-based toys if the order is for more than Rs. 1000.
On orders of more than Rs. 100 for key-based toys, a discount of 5% is
given, and a discount of 10% is given on orders for electrical charging based
toys of value more than Rs. 500. Assume that the numeric codes 1,2 and 3
are used for battery based toys, key-based toys, and

In [77]:
prdid=int(input("1-Battery Based Toys \n 2-Key Based Toys \n 3-Electronic Based Toys \n Enter Product id 1, 2 or 3"))
amount=float(input("Enter Amount"))
if prdid==1:
    if amount>=1000:
        print("Total Paymet After Discount Rs. : ", 0.9*amount)
    else:
        print("No Discount Applyed Total Pay Rs. :", amount)
elif prdid==2:
    if amount>=100:
        print("Total Paymet After Discount Rs. : ", 0.95*amount)
    else:
        print("No Discount Applyed Total Pay Rs. :", amount)
elif prdid==3:
    if amount>=500:
        print("Total Paymet After Discount Rs. : ", 0.9*amount)
    else:
        print("No Discount Applyed Total Pay Rs. :", amount)
else:
    print("Invalid Product Id!!!")

1-Battery Based Toys
 2-Key Based Toys
 3-Electronic Based Toys
 Enter Product id 1, 2 or 3 5
Enter Amount 25

Invalid Product Id!!!

In [18]:
def greet(name):
 print("hello", name)
 print("saurabh", name)
 print("how", name)
 print("are", name)
 print("you",name)

In [20]:
greet("SAURABH")

hello SAURABH
saurabh SAURABH
how SAURABH
are SAURABH
you SAURABH

In [35]:
def sum(a,b,c):
    d=a+b+c
    return(d)

In [36]:
sum  (2,3,3)

8

##lamda

In [40]:
fun = lambda x: x+2

In [41]:
print(fun(10))

12

In [42]:
##map  function

In [75]:
l=[20,30,50,40]
list (map(fun,l))

[22, 32, 52, 42]

In [ ]:
#1. Declare a div() function with two parameters. Then call the function and pass twonumbers and display their division.
#2. Declare a square() function with one parameter.Then call the function and pass onenumber and display the square of that number .

In [64]:
def div(n1,n2):
    return(n1/n2)

In [65]:
div(10,5)

2.0

In [66]:
def div(n1=10,n2=20):
    return(n1/n2)

In [67]:
div()

0.5

In [ ]:
#while loop

In [78]:
i =1
while i<=10:
      print(i)
      i+=1

1
2
3
4
5
6
7
8
9
10

In [ ]:
# create a table

In [85]:
i =2
while i<=20:
      print(i)
      i+=2

2
4
6
8
10
12
14
16
18
20

In [89]:
n=int(input("enter the number"))
i =2
while i<=10:
      print(f"{n}*{i}=",n*i)
      i+=1

enter the number 31

31*2= 62
31*3= 93
31*4= 124
31*5= 155
31*6= 186
31*7= 217
31*8= 248
31*9= 279
31*10= 310

In [ ]:
#write to take five number as input find average of the these number

In [3]:
i =1
sum =0
while i<=5:
    n=int(input("enter number"))
    sum = sum+n
    i+=1

    
print("Average",sum/5)

enter number 50
enter number 50
enter number 46
enter number 9645
enter number 52

Average 1968.6